body {
    max-width: 1024px;
    margin: 0 auto;
}

.titulo {
    color: #ec183f;
    margin: 23px 0;
}

.corpo article small {
    font-weight: bold;
}

.corpo article img {
    width: 100%;
}

.secao-texto {
    max-width:  1024px;

}

.corpo-texto {
    margin: 20px o 20px 0;
}

.separador-artigo {
    color: white;
}


.rede-social img {
    width: 42px;
}

.rodape {
    border-top: 1px solid gray;
    padding: 20px;
}

.lista-rodape {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: center;
}